*.iws
*Db.properties
*Db.script
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/target-eclipse/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
.link_to_grails_plugins/
/web-app/WEB-INF/c.tld
/web-app/WEB-INF/fmt.tld